body {
    background-color: black;
    color: white;
}

.map {
    position: absolute;
    top: 10%;
}

#level {
    opacity: .5;
}

#monsters {
    color: red;
}

#shards {
    color: yellow;
}

#potions {
    color: green;
}

.background {
    background-color: black;
}
